out
artifacts
node_modules
cache
example.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage

# Ignores development broadcast logs
broadcast/
/broadcast/
**/broadcast/
